#price__block{
    display: none;
}
#price__block.show{
    display: flex;
    margin-top: 1.87rem;
}
.has-flag{
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 5px 50%;
    padding-left: 35px;
}
.applicaton-create {
    background: url("../img/application-background.png");
    background-size: cover;
    background-position: center center;

    .applicaton-create__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        position: relative;

        margin-bottom: 3rem;
    }

    .applicaton-create__title {
        position: absolute;
        left: 50%;

        transform: translateX(-50%);
    }

    .applicaton-create__link {
        cursor: pointer;

        display: flex;
        align-items: center;
        column-gap: 0.75rem;

        svg {
            path {
                transition: 200ms;
            }
        }

        &:hover {
            svg {
                path {
                    fill: #fff;
                }
            }

            .applicaton-create__href {
                color: #fff;
            }
        }
    }

    .applicaton-create__href {
        text-decoration: underline;
    }


    .applicaton-create__subtitle {
        margin-bottom: 5rem;
    }

    .applicaton-create__form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.87rem 1.625rem;

        & > *:last-child {
            margin-top: 1.87rem;
        }
    }

    .applicaton-create__form_create {
        grid-column: 2/3;

        padding: 1.06rem;
    }

    .applicaton-create__ready {
        display: flex;
        flex-direction: column;
        align-items: center;

        .applicaton-create__form_create {
            margin-top: 4.75rem;
            margin-bottom: 1.5rem;
        }
    }
}

@media (max-width: 1024px) {
    .applicaton-create {
    
        .applicaton-create__form {
            grid-template-columns: 1fr;
        }

        .applicaton-create__form_create {
            grid-column: auto;
        }
    }
}