.tabless {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    .filterss {
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input {
        background-color: #131a24;
        color: white;
    }

    input::placeholder {
        color: #6E7B8B;
        font-size: 0.9rem;
        border-bottom: 1px solid #6E7B8B;
        line-height: 1rem;
    }
}

.orders_table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    border: 2px solid #17212B;
    background-color: #131a24;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    font-weight: 200;

    .status__inner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    input {
        width: 3rem;
        border-bottom: 1px solid #6E7B8B;
        line-height: 1rem;
    }
}

.city__from {
    display: flex;
    justify-content: center;
    border: 2px solid #17212B;
    border-left: 0;
    height: 100%;
    width: 25rem;
    background-color: #131a24;
    font-weight: 100;

    .city__inner {
        display: flex;
        justify-content: space-between;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    span {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .cit_from,
    .cit_to {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .input__city {
        width: 5.3rem;
        border-bottom: 1px solid #6E7B8B;
        line-height: 1rem;
    }

    .input__city1 {
        width: 5.3rem;
        border-bottom: 1px solid #6E7B8B;
        line-height: 1rem;
    }

    svg {
        margin-right: 1rem;
        width: 1.2rem;
        height: 1.2rem;
    }
}

.select__dates {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #17212B;
    border-left: 0;
    height: 100%;
    width: 9rem;
    background-color: #131a24;

    .dates__inner {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    svg {
        flex-shrink: 0;

        position: relative;
        margin-right: 0.3rem;

        width: 1.5rem;
        height: 1.5rem;
    }

    input {
        height: 100%;
        width: 2.1rem;
        border-bottom: 1px solid #6E7B8B;
        line-height: 1rem;
    }
}

.select__cars {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #17212B;
    border-left: 0;
    height: 100%;
    width: 15rem;
    background-color: #131a24;

    input {
        width: 6.3rem;
        margin-right: 1rem;
        border-bottom: 1px solid #6E7B8B;
        line-height: 1rem;
    }

    .cars_inner {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.payments_filter {
    display: flex;
    justify-content: space-between;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #17212B;
    border-left: 0;
    height: 100%;
    width: 14rem;
    background-color: #131a24;

    .payment_inner {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    input {
        width: 6.8rem;
        margin-right: 1rem;
        border-bottom: 1px solid #6E7B8B;
        line-height: 1rem;
    }
}


.searches_filter {
    display: flex;
    justify-content: space-between;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #17212B;
    border-left: 0;
    height: 100%;
    width: 10rem;
    background-color: #131a24;

    input {
        width: 3.8rem;
        margin-left: 1rem;
        margin-right: 1rem;
        line-height: 1rem;
        border-bottom: 1px solid #6E7B8B;
        line-height: 1rem;
    }
}

.button__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #203850;
    border-radius: 8px;
    width: 9rem;
    height: 100%;

    .button_fil_inner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    span {
        display: flex;
        align-items: center;
        margin-left: 0.4rem;
    }
}

.tabless {

    .input_dates {
        border: 1px solid transparent;

        padding: 0.25rem;
    }

    .select__input_filter {
        background: transparent;

        margin-right: 0;

        &::placeholder {
            border: 0;

            text-align: center;

            text-decoration: none;
        }
    }

    .select__option {
        background: #131a24;

        &:hover {
            background: #17212b;
        }
    }
}

/******************************* Строка заказа **************************************/

.string_orders {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    margin: auto;
}

.order_status {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 10rem;
    background: #17212B;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border: 2px solid #131A24;

    .status_icon {
        background: linear-gradient(180deg, #0C9248 0%, #24F792 100%);
        border-radius: 8px;
        height: 0.6rem;
        width: 0.6rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }
}

.info_delivery {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    background-color: #17212B;
    border: 2px solid #131A24;
    border-left: 0;

    .delivery_from,
    .delivery_to {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.84rem;
    }

    .flag_from {
        height: 1.5rem;
        width: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0.5rem;
    }

    .delivery_from {
        width: 6.5rem;
        height: 100%;
    }

    .delivery_to {
        width: 11.8rem;
        height: 100%;
    }

    svg {
        height: 1.5rem;
        width: 1.5rem;
    }

    span {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

.info_date {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    background-color: #17212B;
    border: 2px solid #131A24;
    border-left: 0;
}

.info_car {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    background-color: #17212B;
    border: 2px solid #131A24;
    border-left: 0;
    font-size: 0.95rem;
}


.info_payment {
    height: 4rem;
    width: 14rem;
    display: flex;
    justify-content: flex-start;

    .info_price {
        background-color: #17212B;
        border: 2px solid #131A24;
        border-left: 0;
        font-size: 0.9rem;
        width: 9rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info_message {
        background-color: #17212B;
        border: 2px solid #131A24;
        border-left: 0;
        font-size: 0.9rem;
        width: 5rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.info_last {
    height: 4rem;
    width: 19rem;
    display: flex;
    justify-content: flex-start;
}

.info_pay_order {
    height: 4rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17212B;
    border: 2px solid #131A24;
    border-left: 0;
    font-size: 0.9rem;

    svg {
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 0.3rem;
    }
}

.info_gps,
.info_options {

    svg {
        width: 1.3rem;
        height: 1.3rem;
    }

    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17212B;
    border: 2px solid #131A24;
    border-left: 0;
}

.info_options {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}