.input {
    background: none;

    border: 1px solid var(--default-input-border);
    border-radius: 0.375rem;

    color: var(--default-input-color);

    font-family: "Inter";
    font-size: 1.06rem;
    font-weight: 400;

    transition: $transition_default;

    padding: 0.927rem 1.5rem;

    width: 100%;
    height: $height_input;

    &::placeholder {
        color: var(--default-input-placeholder);
    }

    &:hover,
    &:focus {
        border: 1px solid var(--default-focus);
    }

    &._error {
        border: 1px solid $red;
    }
}

.input-form {
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;

    sup {
        font-size: 0.75rem;
    }

    .input-form__calendar {
        position: absolute;
        right: 1rem;

        width: 1.06rem;

        svg {
            width: 2.125rem;
        }
    }

    .date_start__input {
        text-align: left;

        padding-right: 2rem;

        &:disabled {
            background: none
        }
    }

    .date_end__input {
        @extend .date_start__input;
    }
}

.input-file {
    height: 100%;

    .input-file__button {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 0.625rem;

        height: 100%;
    }

    span {
        font-size: 1rem;
    }
}