.navigation {
    display: flex;
    
    padding: 1.56rem;
    margin-bottom: 3rem;

    .navigation__list {
        display: grid;
        grid-gap: 1.875rem;
        grid-template-columns: repeat(4, 1fr);

        flex: 1;
    }

    .navigation__item {
        border-radius: 8px;

        display: flex;
        align-items: center;

        padding: 1rem 1.5rem;

        width: 100%;

        .navigation__icon {
            border: 2px solid var(--navigation-icon-border);
            border-radius: 50%;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 3.625rem;
            min-width: 3.625rem;
            height: 3.625rem;

            svg {
                width: 2.25rem;
            }

            &:nth-child(3) {
                svg {
                    width: 2.13rem;
                }
            }
        }

        .navigation__subtitle {
            font-weight: 400;
            font-size: 1rem;
        }

        &._green {
            background: var(--navigation-background-first);

            .navigation__icon {
                background: var(--navigation-icon-first);
            }

            .navigation__subtitle {
                color: var(--navigation-subtitle-color-first);
            }
        }

        &._yellow {
            background: var(--navigation-background-second);

            .navigation__icon {
                background: var(--navigation-icon-second);
            }

            .navigation__subtitle {
                color: var(--navigation-subtitle-color-second);
            }
        }
    }

    .navigation__href {
        display: flex;
        align-items: center;

        column-gap: 1.56rem;
    }

    .navigation__text {
        display: flex;
        flex-direction: column;
        row-gap: 0.1875rem;
    }

    .navgitaion__title {
        color: var(--default-color);

        font-size: 1.125rem;
        font-weight: 500;
    }
}



@media (max-width: 1440px) {
    .navigation {
        .navigation__list {
            grid-gap: 0.875rem;
        }

        .navigation__item {
            padding: 1rem;

            .navigation__icon {
                border-radius: 50%;
    
                display: flex;
                align-items: center;
                justify-content: center;
    
                width: 2.91rem;
                min-width: 2.91rem;
                height: 2.91rem;
    
                svg {
                    width: 1.75rem;
                }
    
                &:nth-child(3) {
                    svg {
                        width: 1.66rem;
                    }
                }
            }
        }

        .navigation__href {
            column-gap: 0.75rem;
        }

        .navigation__subtitle {
            font-size: 0.85rem;
        }
    }
}