.navigation-bottom {
    display: flex;
    align-items: center;
    grid-gap: 0.625rem;
}

.navigation-bottom_item {
    .navigation-bottom_href._next_page {
        background: none;

        color: var(--default-color);

        width: auto;
        height: auto;
    }
}

.navigation-bottom_href {
    border-radius: 0.5rem;

    color: var(--default-color);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: $transition_default;

    width: 3.25rem;
    min-width: 3.25rem;
    height: 3.25rem;

    &:hover,
    &._active {
        background: var(--navigation-bottom-item);

        color: #FFFFFF;
    }
}