._select {
    position: relative;

    z-index: 10;

    ._select__block {
        display: flex;
        align-items: center;

        position: relative;
    }

    ._select__show {
        background: none;

        padding-right: 2.4rem;

        &::placeholder {
            color: var(--default-color);
        }
    }

    ._select__arrow {
        position: absolute;
        right: 1.4rem;

        transition: $transition_default;

        width: 0.81rem;

        path {
            stroke: var(--default-color);
        }

        &._active {
            transform: rotate(180deg);
        }
    }
    
    ._select__item {
        &:nth-child(2n+1) {
            background: var(--default-no-active-button);
        }

        transition: $transition_default;

        & > * {
            cursor: pointer;

            color: var(--default-input-color);

            display: inline-block;

            transition: $transition_default;

            padding: 1rem 1.5rem;

            width: 100%;
            height: 100%;

            &:hover {
                background: var(--default-color);

                color: var(--default-block-background);
            }
        }
    }

    ._select__input {
        padding: 1rem;
    }
}

._select__list {
    animation: fast-hide 500ms forwards;

    background: var(--default-block-background);

    border-radius: 0.375rem;

    box-shadow: 0 0 11px rgba(0, 0, 0, 0.1);

    display: none;

    flex-direction: column;

    position: absolute;

    transition: $transition_default;

    margin-top: 0.5rem;

    opacity: 0;

    width: 100%;
    max-height: 30rem;

    overflow-y: auto;

    z-index: 100;
}

._select-search {
    @extend ._select;
}

._select-search__list {
    animation: none;

    display: flex;

    opacity: 1;

    ._select__item {
        display: none;
    }
}