.page-title {
    font-size: 1.75rem;
    font-weight: 600;
}

.small-title {
    color: $grey_dark;
}

.middle-title {
    @extend .small-title;

    font-size: 1.5rem;
}

@media (max-width: 1024px) {
    .page-title {
        font-size: 2rem;
    }

    .middle-title {
        font-size: 1.5rem;
    }
}