.chat {
    .chat__card {
        display: flex;
        flex-direction: column;
    }

    .chat__list {
        border: var(--card-border);

        display: flex;
        flex-direction: column;
        flex-grow: 1;

        overflow-y: auto;
    }

    .chat__item {
        a {
            border-radius: 0.5rem;

            cursor: pointer;

            color: var(--default-color);

            display: flex;
            align-items: center;
            column-gap: 1rem;

            padding: 0.75rem 1.5rem;
        }

        &._active {
            a {
                background: var(--default-button-second);

                color: var(--default-button-second-color);
            }
        }
    }

    .chat__image {
        position: relative;

        &._online {
            &::before {
                background: #00BC8B;

                border-radius: 50%;
                outline: 2px solid var(--default-block-background);

                content: "";

                position: absolute;
                right: 4px;
                bottom: 4px;

                width: 10px;
                min-width: 10px;
                height: 10px;
            }
        }
    }

    .chat__user-name {
        font-weight: 500;
    }

    .chat__text {
        display: flex;
        flex-direction: column;
        row-gap: 0.4rem;
        flex: 1;

        padding: 0.5rem;
    }

    .message__content {
        flex: 1;
    }

    .message__content_inner {
        border: var(--card-border);

        display: flex;
        flex-direction: column;

        position: relative;

        min-height: 25rem;
    }

    .message__no-user {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;

        font-size: 2.5rem;
    }

    .message__user {
        background: var(--default-body-background);

        display: flex;
        column-gap: 0.75rem;

        padding: 0.93rem 1.1rem;
        margin-bottom: 1.25rem;
    }

    .message__user_link {
        font-size: 0.75rem;
    }

    .message__list {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 0.25rem;
        flex: 1;

        padding: 1.25rem;
        padding-right: 1.3rem;
        margin-bottom: 1.75rem;

        overflow-y: auto;

        max-height: 36.75rem;
    }

    .message__current_date {
        background: var(--default-button-third);

        border-radius: 0.75rem;

        position: absolute;
        top: 6.75rem;
        left: 50%;
        
        transform: translateX(-50%);

        padding: 0.25rem 0.5rem;

        z-index: 100;
    }

    .message__item {
        display: flex;
        align-items: flex-end;
        column-gap: 0.5rem;

        padding: 0.25rem;

        &._no-read {
            background: var(--chat-background-no-read);
        }
    }

    .message__item_date {
        text-align: center;

        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
    }

    .message__item_from-me {
        flex-direction: row-reverse;

        .message__text {
            background: var(--default-button-second);

            border-radius: 1.25rem 0.5rem 0.5rem 1.25rem;

            color: var(--default-button-second-color);
        }
    }

    .message__image {
        position: relative;

        height: $height_avatar;
    }

    .message__text {
        background: var(--default-button-third);

        border-radius: 0.5rem 1.25rem 1.25rem 0.5rem;

        display: inline-block;

        padding: 0.75rem 1rem;
    }

    .message__date {
        font-size: 0.75rem;

        margin-top: 0.25rem;
    }

    .message__send {
        display: flex;
        align-items: center;

        padding: 1.25rem;

        position: relative;
    }

    .message__input {
        border-radius: 1.5rem;
    }

    .message__button {
        border-bottom: var(--card-border);
        border-radius: 50%;

        position: absolute;
        right: 2rem;

        width: 2.375rem;
        min-width: 2.375rem;
        height: 2.375rem;

        svg {
            path {
                fill: none !important;
            }
        }
    }
}