.account__page-title {
    margin-bottom: 1.5rem;
}

.my-application {
    display: flex;
    grid-gap: 2rem;

    .my-application__content {
        display: flex;
        flex-direction: column;
        row-gap: 2.25rem;

        flex-grow: 1;
    }

    .my-application__content_inner {
        border: var(--card-border);

        padding: 2.875rem 2.875rem 3.75rem;
    }

    .my-application__list {
        overflow-y: auto;

        max-height: calc(50px * 5 + 1.25rem * 4);

        .service__item {
            grid-template-columns: 0.17fr 0.7fr 1.55fr 0.7fr 1.1fr 0.8fr 0.2fr;

            height: 50px;
            min-height: 50px;
        }
    }

    .my-application__list_none {
        font-size: 2rem;
        font-weight: 500;

        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 1/8;

        height: calc(50px * 5 + 1.25rem * 4)
    }
}



@media (max-width: 768px) {
    .my-application {
        grid-gap: 1rem;
        flex-direction: column-reverse;
    }
}