.account__page-title {
    margin-bottom: 1.5rem;
}

.my-application {
    display: flex;
    grid-gap: 2rem;

    .my-application__content {
        flex: 1;
    }

    .my-application__list {
        overflow-y: auto;

        max-height: calc(50px * 4 + 1.25rem * 3);

        .service__item {
            grid-template-columns: 0.17fr 0.7fr 1.55fr 0.7fr 1.7fr 0.2fr 0.2fr;

            height: 50px;
            min-height: 50px;
        }
    }
}



@media (max-width: 768px) {
    .my-application {
        grid-gap: 1rem;
        flex-direction: column-reverse;
    }
}