$black: #2A2929;
$blue: #0B79FE;
$blue_dark: #2D2D41;
$yellow: #FFC93A;
$grey: #EBE8FE;
$grey_dark: #6A6A6A;
$red: #E54A4A;
$white_line: #FAFAFA;

$transition_default: 200ms;
$transition_middle: 500ms;

$height_button: 3.125rem;
$height_big_button: 4.375rem;
$height_input: $height_button;
$height_avatar: 3.125rem;

:root {
    --default-body-background: #FAFAFA;
    --default-block-background: #FFFFFF;
    --default-color: #2d2d41;
    --default-links: var(--default-color);
    --default-button-first: #FFC93A;
    --default-button-first-hover: #F9B709;
    --default-button-first-active: #A48534;
    --default-button-first-color: #FFFFFF;
    --default-button-second: #2D2D41;
    --default-button-second-hover: #1D1D4B;
    --default-button-second-active: #03030A;
    --default-button-second-color: #FFFFFF;
    --default-button-third: #EAEAFF;
    --default-button-third-hover: #EAEAFF;
    --default-button-third-active: #EAEAFF;
    --default-button-third-color: var(--default-color);
    --default-button-fourth: #EFEFEF;
    --default-button-fourth-hover: #EFEFEF;
    --default-button-fourth-active: #EFEFEF;
    --default-button-fourth-color: #3e3e5b;
    --default-button-disabled: #DFDFDF;
    --default-button-disabled-color: #939393;
    --default-input-placeholder: #DBDBDB;
    --default-input-border: #c1c1c1;
    --default-input-color: #2A2929;
    --default-dark-color: var(--default-input-color);
    --default-focus: #6A6A6A;
    --default-no-active-button: #F1F1F1;
    --default-no-active-color: #B8B8B8;
    --default-disabled-color: rgba(43, 41, 41, 0.4);
    --default-social-color: #C2C2C2;
    --default-user-id: #0b79fe;
    --default-background-calendar: #EBE8FE;
    --default-color-error: #E54A4A;

    --header-icon: #ebe8fe;
    --icon: #fffbe3;

    --client-contact-color: #9B9B9B;

    --card-background: linear-gradient(180deg, #FFFFFF 83.04%, #F6F6F6 100%);
    --card-border: 0.33px solid rgba(0, 0, 0, 0.16);

    --navigation-background-first: linear-gradient(147.96deg, #eefee8 19.25%, #d9ffcc 89.03%);
    --navigation-background-second: linear-gradient(150.55deg, #fff8e5 18.04%, #ffeab3 102.95%);
    --navigation-icon-first: linear-gradient(180deg, #24C86D 0%, #24F792 100%);
    --navigation-icon-second: linear-gradient(360deg, #FFD600 0%, #FFA41D 100%);
    --navigation-icon-border: none;
    --navigation-subtitle-color-first: #32DC43;
    --navigation-subtitle-color-second: #FFA61B;

    --scroll: var(--default-no-active-color);
    --scroll-active: var(--default-focus);

    --calendar-date-disabled-background: #F1F1F1;
    --calendar-date-disabled-color: #B8B8B8;

    --logo-background-elem: #3E3E5B;
    --logo-color: #2D2D41;

    --cargo-item: #6A6A6A;

    --image-add: #D8D8D8;
    --image-add-hover: #D8D8D8;
    --image-add-active: #D8D8D8;

    --navigation-bottom-item: var(--default-color);

    --chat-background-no-read: rgb(250, 250, 250, 0.75);
}

body {
    &._dark {
        --default-body-background: #131A24;
        --default-block-background: #17212B;
        --default-color: #EFF1FF;
        --default-links: #1A68AA;
        --default-button-first: #090D13;
        --default-button-first-hover: #090D13;
        --default-button-first-active: #090D13;
        --default-button-first-color: #FFFFFF;
        --default-button-second: #1A68AA;
        --default-button-second-hover: #1A68AA;
        --default-button-second-active: #1A68AA;
        --default-button-second-color: #FFFFFF;
        --default-button-third: var(--default-button-first);
        --default-button-third-hover: var(--default-button-first-hover);
        --default-button-third-active: var(--default-button-first-active);
        --default-button-third-color: var(--default-button-first-color);
        --default-button-fourth: #090D13;
        --default-button-fourth-hover: #090D13;
        --default-button-fourth-active: #090D13;
        --default-button-fourth-color: #FFFFFF;
        --default-button-disabled: #131A24;
        --default-button-disabled-color: #FFFFFF;
        --default-no-active-button: #131A24;
        --default-no-active-color: #6E7B8B;
        --default-input-placeholder: #6E7B8B;
        --default-input-border: #6E7B8B;
        --default-input-color: #6E7B8B;
        --default-dark-color: var(--default-color);
        --default-focus: #6E7B8B;
        --default-disabled-color: rgba(43, 41, 41, 0.4);
        --default-social-color: #C2C2C2;
        --default-user-id: #0b79fe;
        --default-background-calendar: #131A24;
        --default-color-error: #E54A4A;

        --header-icon: #1A68AA;
        --icon: #090D13;

        --client-contact-color: #FFF;

        --card-background: var(--default-block-background);
        --card-border: 0.33px solid rgba(255, 255, 255, 0.16);

        --navigation-background-first: linear-gradient(147.96deg, #04070C 19.25%, #131A24 89.03%);
        --navigation-background-second: var(--navigation-background-first);
        --navigation-icon-first: none;
        --navigation-icon-second: none;
        --navigation-icon-border: #1C2A3D;
        --navigation-subtitle-color-first: #35A3FF;
        --navigation-subtitle-color-second: #FFA61B;

        --scroll: #090D13;
        --scroll-active: #000000;

        scrollbar-width: thin;
        scrollbar-color: var(--scroll) var(--default-body-background);

        --calendar-date-disabled-background: var(--default-no-active-button);
        --calendar-date-disabled-color: var(--default-input-border);

        --logo-background-elem: #1A68AA;
        --logo-color: #FFFFFF;

        --cargo-item: #FFFFFF;

        --image-add: #D8D8D8;
        --image-add-hover: #D8D8D8;
        --image-add-active: #D8D8D8;

        --navigation-bottom-item: var(--default-button-second);

        --chat-background-no-read: rgba(19, 26, 36, 0.75);

        .header__burger-fixed__social {
            &:first-child {
                a {
                    color: #FFC93A !important;
                }
            }

            a {
                color: #FFFFFF !important;
            }
        }

        .index__page-title__selected {
            color: #FFFFFF !important;
        }

        .index__filter_button {
            background: #04070c;

            color: #253442;
        }
    }
}

.block-default {
    background: var(--default-block-background);

    border-radius: 0.625rem;
}

.display-block {
    display: block !important;
}

.error {
    color: var(--default-color-error) !important;

    font-size: 0.875rem;
}

.error-input {
    border-color: var(--default-color-error) !important;

    color: var(--default-color-error) !important;
}

.text-center {
    text-align: center;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-3 {
    margin-top: 3rem;
}

.z-index-12 {
    z-index: 12 !important;
}

.z-index-16 {
    z-index: 16 !important;
}

.z-index-20 {
    z-index: 20 !important;
}

.border-0 {
    border: none !important;
}

.boder-top-left-0 {
    border-top-left-radius: 0 !important;
}

._hidden-scroll {
    overflow-y: hidden;

    padding-right: 8px;

    @media (max-width: 1024px) {
        padding-right: 0;
    }
}

.d-flex {
    display: flex !important;
}

.d-block {
    display: block !important;
}

.cursor-default {
    cursor: default !important;
}