.header {
    .header__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 2.63rem 0 2.25rem;

        position: relative;
    }

    .header__left {
        display: flex;
        align-items: center;
        column-gap: 1.375rem;
    }

    .header__burger_icon {
        background: var(--header-icon);

        border-radius: 0.5rem;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 0.25rem;

        width: 4.375rem;
        height: 4.375rem;
    }

    .header__burger_active {
        @extend .header__burger_icon;

        .header__burger_icon_lines {
            width: 2.125rem;

            rect {
                fill: var(--default-color);
            }
        }
    }

    .header__burger_icon_arrow {
        width: 2.375rem;

        path {
            stroke: var(--default-color);
        }
    }

    .header__burger-fixed {
        animation: $transition_middle * 1.5 forwards;

        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        transform: translateX(-150%);
        transition: $transition_middle;

        z-index: 500;

        &._active {
            animation-name: background-burger;
            transform: translateX(0);
        }
    }

    .header__burger_close {
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 1rem;
        right: 1rem;

        &::before,
        &::after {
            background: var(--default-focus);

            content: "";

            display: inline-block;

            transform: rotate(45deg);

            margin-left: 16px;

            width: 16px;
            min-width: 16px;
            height: 1px;
        }

        &::after {
            transform: rotate(-45deg);

            margin-left: -16px;
        }
    }

    .header__burger-fixed__inner {
        border-radius: 0 0.5rem 0.5rem 0;

        display: flex;
        flex-direction: column;

        position: relative;

        overflow-y: auto;

        padding-top: 6rem;
        padding-bottom: 6rem;
        margin: 0;

        max-width: 25rem;
        height: 100%;
    }

    .header__burger-fixed_menu {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;

        flex: 1 0 auto;

        .menu__link {
            color: var(--default-no-active-color);

            font-size: 2rem;

            &:hover,
            &._active {
                color: var(--default-color);

                text-decoration: underline;
            }
        }
    }

    .header__burger-fixed__socials {
        color: var(--default-social-color);

        display: flex;
        row-gap: 0.625rem;
        flex-direction: column;

        font-size: 1.25rem;

        flex: 0 0 auto;

        margin-bottom: 5rem;
    }

    .header__burger-fixed__social {
        &:first-child {
            a {
                color: var(--default-button-first);
            }
        }

        a {
            color: var(--default-color);

            text-decoration: underline;
        }
    }

    .header__logo {
        position: absolute;
        left: 50%;

        transform: translateX(-50%);
    }

    .header__title-page {
        color: var(--default-dark-color);

        font-weight: 600;
        font-size: 1.75rem;
    }

    .header__rigth {
        display: flex;
        column-gap: 1.375rem;
    }

    .header__authorization_link {
        &:first-child {
            .header__button {
                padding: 0 3rem;
            }
        }

        &:nth-child(2) {
            .header__button {
                padding: 0 3.375rem;
            }
        }
    }

    .header__button {
        height: $height_button;
    }

    @media (max-width: 1024px) {
        .header__container {
            justify-content: right;
        }

        .header__logo {
            left: 0;

            transform: none;
        }

        .header__left {
            margin-left: auto;
        }

        .header__title-page {
            display: none;
        }

        .header__rigth {
            display: none;
        }
    }
}