.input {
    background: #293443;

    border: 1px solid transparent;
    border-radius: 8px;

    color: #fff;

    transition: 200ms;

    padding: 1rem 1.25rem;

    width: 100%;

    &:hover,
    &:focus {
        border: 1px solid #4A5764;
    }

    &::placeholder {
        color: rgba(255, 255, 255, 0.4);
    }

    &._error {
        border: 1px solid #8A1D1D;
    }
}

.input__block {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;

    .input__title {
        display: block;

        font-size: 0.875rem;
    }

    .input {
        font-size: 1rem;
    }

    &_style {
        display: flex;
        align-items: center;

        position: relative;

        .input {
            padding-left: 3rem;

            width: 100%;
        }

        svg {
            position: absolute;
            left: 1.25rem;

            z-index: 1;
        }
    }
}

.input-search__list {
    display: none;
    flex-direction: column;

    position: absolute;
    bottom: 0;

    transform: translateY(100%);

    width: 100%;
    max-height: 15.5rem;

    overflow: auto;

    z-index: 10;
}

.input-search__item {
    display: flex;

    label {
        background: #fff;

        color: #000;

        cursor: pointer;

        display: flex;

        padding: 0.5rem;

        width: 100%;
    }
}

.input__block_comment {
    grid-column: 1/4;

    .input__title {
        text-align: center;
    }
}

.input__block_file {
    position: relative;

    .input__block_file_content {
        color: rgba(255, 255, 255, 0.4);

        display: flex;
        align-items: center;
        column-gap: 0.875rem;

        padding: 0.85rem 1rem;
    }
}

td {
    .input__block {
        position: relative;

        ._color-error {
            color: #fff;

            transform: translateY(100%);

            position: absolute;
            bottom: -0.5rem;
        }
    }
}

@media (max-width: 1024px) {
    .input__block_comment {
        grid-column: 1;

        .input__title {
            text-align: left;
        }
    }
}