.block__password {
    display: flex;
    align-items: center;

    position: relative;

    &._show-password {
        .password-icon_hide {
            opacity: 0;

            height: 0;
            width: 0;
        }

        .password-icon_show {
            opacity: 1;

            height: auto;
            width: auto;
        }
    }

    .input {
        padding-right: 2.75rem;
    }

    .password-icon {
        cursor: pointer;

        display: flex;

        user-select: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;

        position: absolute;
        right: 1.25rem;
    }

    .password-icon_show {
        opacity: 0;

        transition: 300ms;

        height: 0;
        width: 0;
    }

    .password-icon_hide {
        opacity: 1;

        transition: 300ms;

        height: auto;
        width: auto;
    }
}