.application__table {
    width: 100%;
}

.application__list_title {
    margin-bottom: 1rem;
}

.application__item_title {
    background: none;

    text-align: left;

    opacity: 0.4;

    th {
        font-weight: 400;

        padding-left: 1.5rem;
        padding-bottom: 1rem;
    }
}

.application__list {
    display: flex;
    flex-direction: column;
    row-gap: 1px;
}

.application__table {
    width: 100%;
}

.application__filter {
    background: #17212B;

    border-radius: 8px;

    margin-bottom: 2px;

    width: 100%;
}

.application__buttons {
    display: flex;
    column-gap: 1.25rem;

    margin-top: 2.125rem;

    &>* {
        display: inline-flex;
        align-items: center;
        column-gap: 0.625rem;

        padding: 1.25rem 2.75rem;
    }
}

.application__filter_top {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;

    padding: 1.5rem;

    height: 4.75rem;
}

.application__item {
    background: #17212B;

    border-radius: 0.5rem;

    overflow: hidden;

    td:first-child {
        border-radius: 0.5rem 0 0 0.5rem;
    }

    td:last-child {
        border-radius: 0 0.5rem 0.5rem 0;
    }

    &>* {
        &::before {
            background: #131A24;

            content: "";

            position: absolute;
            right: 0;

            width: 1px;
            height: 100%;
        }

        &:last-child {
            &::before {
                content: none;
            }
        }

        padding: 1.5rem;

        position: relative;

        height: 4.75rem;
    }
}

.application__route {
    display: flex;
    align-items: center;
    column-gap: 1.25rem;
}

.application__status {
    background: linear-gradient(180deg, #0C9248 0%, #24F792 100%);

    border-radius: 50%;

    width: 0.5rem;
    min-width: 0.5rem;
    height: 0.5rem;
}

.application__from {
    display: flex;
    align-items: center;
    column-gap: 0.6875rem;
}

.application__to {
    @extend .application__from;
}

.applicaton__arrow {
    color: #6E7B8B;

    font-family: Arial;
}

.application__way {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
}

.application__payment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;

    height: 100%;
}

.application__payment_td {
    padding: 1rem;
    padding-left: 1.5rem;
}

.application__payment_link {
    background: #2A7AD4;

    display: flex;
    align-items: center;

    font-size: 1rem;

    padding: 0 1.5rem;

    height: 100%;
}

.application__flex {
    display: flex;
    align-items: center;
    column-gap: 0.31rem;
}

.application__chat {
    position: relative;
}

.application__chat_count {
    background: #F14545;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.68rem;

    position: absolute;
    left: 0;
    top: 0;

    transform: translate(-40%, -40%);

    width: 1rem;
    height: 1rem;
}
@media (min-width: 1650px) {
    .recently-loads {
        .application__item {
            td:last-child {
                width: 17%;
            }
        }
    }
}


@media (max-width: 1024px) {
    .application__item_title {
        display: none;
    }

    .application__item {
        display: flex;
        flex-wrap: wrap;

        margin-bottom: 1.5rem;

        &:last-child {
            margin-bottom: 0;
        }

        td {
            display: flex;
            align-items: center;
            flex: 1 0 100%;

            &::before {
                content: none;
            }

            &::after {
                background: #131A24;

                content: "";

                position: absolute;
                left: 50%;
                bottom: 0;

                transform: translateX(-50%);

                width: 95%;
                height: 1px;
            }
        }

        td:last-child {
            &::after {
                content: none;
            }
        }
    }
}

@media (max-width: 576px) {
    .recently-loads {
        .application__item {
            td {
                padding: 0.75rem;
            }
        }
    }

    .application__buttons {
        column-gap: 0.75rem;
    
        &>* {
            column-gap: 0.32rem;
    
            padding: 0.75rem 1rem;
        }
    }
}