.frequent-questions {
    padding-bottom: 6.25rem;

    .frequent-questions__title {
        margin-bottom: 6.125rem;
    }

    .questions__list {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 1.5rem 2.6875rem;
    }

    .questions__item {
        border-bottom: 2px solid #17212B;

        flex: 1 0 45%;

        padding-bottom: 2rem;
    }

    .questions__item_question {
        display: flex;
        column-gap: 0.5rem;
        justify-content: space-between;

        svg {
            cursor: pointer;
            
            flex-shrink: 0;
        }
    }

    .questions__item_title {
        font-size: 2.5rem;
        font-weight: 700;
        font-family: 'Bebas Neue';
    }
}

@media (max-width: 1024px) {
    .frequent-questions {
        .questions__item {
            flex: 1 0 100%;
        }
    }
}