.recently-loads {
    margin-top: 1.5rem;
    margin-bottom: 12.5rem;

    .recently-loads__title {
        margin: 0 auto 1.1rem;

        max-width: 40rem;
    }

    .recently-loads__subtitle {
        margin: 0 auto 4rem;

        max-width: 39.4rem;
    }

    $grid-columns: 1.85fr 0.95fr 1fr 0.95fr 1.1fr;

    .application__list_title {
        display: grid;
        grid-template-columns: $grid-columns;

        margin-bottom: 1rem;
    }

    .application__item_title  {
        background: none;

        text-align: left;

        opacity: 0.4;

        th {
            font-weight: 400;

            padding-left: 1.5rem;
            padding-bottom: 1rem;
        }
    }

    .application__list {
        display: flex;
        flex-direction: column;
        row-gap: 1px;
    }

    .application__table {
        width: 100%;
    }

    .application__item {
        background: #17212B;

        border-radius: 0.5rem;

        overflow: hidden;

        td:first-child {
            border-radius: 0.5rem 0 0 0.5rem;
        }

        td:last-child {
            border-radius: 0 0.5rem 0.5rem 0;
        }

        & > * {
            &::before {
                background: #131A24;

                content: "";

                position: absolute;
                right: 0;

                width: 1px;
                height: 80%;
            }

            &:last-child {
                &::before {
                    content: none;
                }
            }

            padding: 0.75rem;
            padding-left: 1.5rem;

            position: relative;

            height: 4.75rem;
        }
    }

    .application__route {
        display: flex;
        align-items: center;
        column-gap: 1.25rem;
    }

    .application__status {
        background: linear-gradient(180deg, #0C9248 0%, #24F792 100%);

        border-radius: 50%;

        width: 0.5rem;
        min-width: 0.5rem;
        height: 0.5rem;
    }

    .application__from {
        display: flex;
        align-items: center;
        column-gap: 0.6875rem;
    }

    .application__to {
        @extend .application__from;
    }

    .applicaton__arrow {
        color: #6E7B8B;

        font-family: Arial;
    }

    .application__way {
        display: flex;
        align-items: center;
        column-gap: 0.75rem;
    }

    .application__payment {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;

        height: 100%;
    }

    .application__payment_link {
        background: #2A7AD4;

        display: flex;
        align-items: center;
        
        font-size: 1rem;

        padding: 0 1.5rem;

        height: 100%;
    }
}

@media (max-width: 1024px) {
    .recently-loads {
        .application__item_title {
            display: none;
        }

        .application__item {
            display: flex;
            flex-wrap: wrap;

            margin-bottom: 1.5rem;

            &:last-child {
                margin-bottom: 0;
            }

            td {
                display: flex;
                align-items: center;
                flex: 1 0 100%;

                &::before {
                    content: none;
                }

                &::after {
                    background: #131A24;

                    content: "";

                    position: absolute;
                    left: 50%;
                    bottom: 0;

                    transform: translateX(-50%);

                    width: 95%;
                    height: 1px;
                }
            }

            td:last-child {
                &::after {
                    content: none;
                }
            }
        }
    }
}

@media (min-width: 1650px) {
    .recently-loads {
        .application__item {
            td:last-child {
                width: 17%;
            }
        }
    }
}

@media (max-width: 576px) {
    .recently-loads {
        .application__item {
            td {
                padding: 0.75rem;
            }
        }
    }
}