.recently-loads {
    margin-top: 1.5rem;
    margin-bottom: 12.5rem;

    .recently-loads__title {
        margin: 0 auto 1.1rem;

        max-width: 40rem;
    }

    .recently-loads__subtitle {
        margin: 0 auto 4rem;

        max-width: 39.4rem;
    }
}
