@import './reset';
@import './UI';
@import './layout';
@import './fonts';
@import './vars';
@import './pages'; 

html, body {
    background: #131a24;

    color: #fff;

    font-family: 'Inter', Arial;
    font-size: 16px;
}

.wrapper {
    display: flex;
    flex-direction: column;


    min-height: 100vh;
}

.main {
    flex: 1 0 auto;
}

button,
input {
    font-family: 'Inter', Arial;
}

@media (max-width: 1650px) {
    html, body {
        font-size: 15px;
    }
}

@media (max-width: 1440px) {
    html, body {
        font-size: 14px;
    }
}