.agreement-policy {
    padding: 3rem;

    .agreement-policy__page-title {
        margin-bottom: 2.75rem;
    }

    .agreement-policy__p {
        font-size: 1.25rem;

        margin-bottom: 1.25rem;
    }

    .agreement-policy__list {
        list-style: none;
        counter-reset: faq__item;
    }
    
    .agreement-policy__item {
        @extend .agreement-policy__p;

        &::before {
            counter-increment: faq__item;
            content: counters(faq__item, ".") ". ";
        }
    }
}

@media (max-width: 1024px) {
    .agreement-policy {
        padding: 3%;
    }
}