.application-grid {
    display: grid;
    grid-template-columns: 1.4fr 0.6fr;
    grid-gap: 1.5rem 2rem;

    width: 85%;

    .client {
        align-self: flex-start;

        position: sticky;
        top: 0;
    }

    .client__inner {
        padding: 1.875rem 2rem 2.75rem;
    }

    .client__info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 1.5rem;
    }

    .client__text {
        display: flex;
        flex-direction: column;
        row-gap: 0.375rem;
    }

    .client__activity {
        font-size: 1.25rem;
        font-weight: 500;
    }

    .client__href {
        color: var(--default-no-active-color);
    }

    .client__img {
        border-radius: 50%;

        object-fit: cover;

        width: 3.75rem;
        height: 3.75rem;
    }

    .client__contacts {
        display: flex;
        flex-direction: column;
        row-gap: 1.125rem;
    }

    .client__contact_number {
        color: #3E3E5B;

        display: flex;
        align-items: center;
        flex-direction: column;

        font-size: 1.375rem;
    }
    
    .client__contact_button_hint {
        font-size: 0.875rem;
    }

    .client__contact_button {
        width: 100%;
        height: 4.375rem;
    }
}

.application {
    display: flex;
    flex-direction: column;
    grid-gap: 3.375rem;

    padding: 2.25rem 2.5rem 3rem;

    .application__item_title {
        color: var(--default-input-color);
    }
    
    .application__item {
        color: var(--default-focus);

        display: flex;
        flex-direction: column;
        row-gap: 0.625rem;
    }

    .application__item_info {
        font-size: 1.125rem;
        font-weight: 500;
    }

    .application__city {
        display: flex;
        align-items: center;
        column-gap: 0.6rem;
    }

    .application__location {
        display: flex;
        align-items: center;
        column-gap: 0.9rem;
    }

    .additional_info {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 2.81rem;
    }
}