.application-flex {
    display: flex;
    grid-template-columns: 1.4fr 0.6fr;
    grid-gap: 2rem;

    position: relative;

    width: 85%;

    .page-title {
        margin-bottom: 1.25rem;
    }

    .application__is-hide {	
        background: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(5px);

        font-size: 2rem;
        font-weight: 500;

        position: absolute;
        left: 0;
        top: 0;
        
        padding: 1rem;

        width: 100%;
        height: 100%;

        z-index: 1;
    }
}

.application {
    flex-grow: 1;

    .application__inner {
        display: flex;
        flex-direction: column;
        grid-gap: 3.375rem;

        padding: 2.25rem 2.5rem 3rem;
    }

    .application__item_title {
        color: var(--default-input-color);
    }
    
    .application__item {
        color: var(--cargo-item);

        display: flex;
        flex-direction: column;
        row-gap: 0.625rem;
    }

    .application__item_info {
        font-size: 1.125rem;
        font-weight: 400;
    }

    .application__city {
        display: flex;
        align-items: center;
        column-gap: 0.6rem;
    }

    .application__location {
        display: flex;
        align-items: center;
        column-gap: 0.9rem;
    }

    .additional_info {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 2.81rem;
    }
}