.information-basic__to_from {
    @extend .filter__to_from;
}

.information-basic__date {
    @extend .filter__date;
}

.information-basic__to_from__inputs {
    @extend .filter__to_from__inputs;
}

.information {
    display: flex;
    flex-direction: column;
    row-gap: 2.125rem;

    .information__added {
        font-size: 1.125rem;
        font-weight: 500;
    }

    .information__added_href {
        color: var(--default-color);

        text-decoration: underline;

        transition: $transition_default;

        &:hover {
            text-decoration: none;
        }
    }

    .information-basic {
        padding: 2.5rem 3.125rem 4rem;
    }

    .information-basic__to_from {
        grid-column: 1/8;

        z-index: 120;
    }

    .information-basic__price {
        display: flex;
        column-gap: 2rem;
        grid-column: 8/11;
    }

    .information-basic__date {
        grid-column: 1/4;
    }

    .information-basic__to_from__inputs {
        grid-gap: 2.25rem;

        &::before {
            width: 1.25rem;
        }
    }

    .information-basic__two-selects {
        display: grid;
        grid-gap: inherit;
        grid-template-columns: 1fr 1fr;
        grid-column: 4/11;
    }

    .information__title {
        color: var(--default-focus);

        margin-bottom: 2.25rem;
    }

    .information-basic_form {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-gap: 2.5rem 2.25rem;
    }

    .information-basic__checkbox {
        align-self: center;

        transform: translateY(50%);

        margin-left: auto;
    }

    .information-additional {
        padding: 2.5rem 4rem 4rem;
    }

    .information-additional__inputs {
        display: grid;
        grid-template-columns: repeat(5, 0.45fr) 1.2fr;
        grid-gap: 3.125rem;
        margin-bottom: 2.5rem;
    }

    .information-additional__textarea-form {
        margin-bottom: 1.5rem;
    }

    .information-additional__textarea {
        min-height: 25rem;
    }

    .information-additional__button {
        padding: 1.45rem 3.375rem;
    }




    @media (max-width: 1440px) {
        .information-basic {
            grid-gap: 1.75rem 1.5rem;

            padding: 2.5rem 4rem;
        }
    }



    @media (max-width: 1024px) {
        .information-basic_form {
            grid-gap: 1.5rem 1.25rem;
        }

        .information-basic {
            padding: 3% 4%;
        }

        .information-additional__inputs {
            grid-gap: 1rem;
        }

        .information-basic_form {
            grid-template-columns: 1fr;

            & > * {
                grid-column: auto;
            }
        }

        .information-basic__checkbox {
            margin-left: 0;
            margin-right: auto;
        }

        .filter__small-inputs {
            align-self: flex-start;
        }

        .information-additional {
            padding: 3% 4%;
        }
    }



    @media (max-width: 768px) {
        .information-additional__inputs {
            grid-template-columns: repeat(5, 1fr);

            & > *:last-child {
                grid-column: 1/span 5;
            }
        }

        .information__title {
            margin-bottom: 1.5rem;
        }
    }

    @media (max-width: 480px) {
        .information-additional__inputs {
            grid-template-columns: repeat(3, 1fr);

            & > *:last-child {
                grid-column: 1/span 3;
            }
        }
    }
}