.index {
    .index__page-title {
        margin-top: 3rem;
        margin-bottom: 2rem;

        span {
            color: var(--default-no-active-color);
        }

        .index__page-title__selected {
            color: var(--default-input-color);
        }
    }

    .index__filter_buttons {
        display: flex;
    }

    .index__filter_button {
        background: var(--default-no-active-button);

        border-radius: 0.625rem 0.625rem 0 0;

        color: var(--default-disabled-color);

        font-size: 1.25rem;

        width: 20.3125rem;
        height: 5rem;

        &._active {
            background: var(--default-block-background);

            color: var(--default-color);
        }
    }

    .index__hints_list {
        margin-left: 2.75rem;
        margin-bottom: 3rem;
    }

    .index__filter {
        .filter {
            border-top-left-radius: 0;
        }
    }
}